@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
    font-weight: 400; /* Normal weight */
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf');
    font-weight: 300; /* Light weight */
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-weight: 600; /* Semi-Bold weight */
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: 700; /* Bold weight */
}
/* General Font Settings */
.root {
    -fx-font-family: "Poppins";
}