/* --- BARRE DE RECHERCHE --- */
.search-field {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color: #e2e8f0;
    -fx-border-width: 1;
    -fx-padding: 12 25;
    -fx-font-size: 14px;
    -fx-text-fill: #3d4a4d;
}

.search-field:focused {
    -fx-border-color:  #BEC400;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(100, 116, 139, 0.2), 10, 0, 0, 0);
}

/* --- BOUTON ACTUALISER --- */
.btn-refresh {
    -fx-background-color: #BEC400;
    -fx-text-fill: white;
    -fx-background-radius: 30;
    -fx-padding: 12 30;
    -fx-font-family: "Poppins SemiBold";
    -fx-cursor: hand;
}

/* --- TABLEAU --- */
.modern-table {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #e2e8f0;
}

.modern-table .scroll-bar:vertical,
.modern-table .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: -10;
}

.modern-table .table-row-cell:selected {
    -fx-background-color: #BEC400;
    -fx-text-fill: white;
}

/* --- PAGINATION CIRCULAIRE (1 2 3 4 5) --- */
.pagination .pagination-control .control-box {
    -fx-spacing: 10;
    -fx-alignment: CENTER;
    -fx-padding: 10 0 0 0;
}

.pagination .pagination-control .control-box .number-button,
.pagination .pagination-control .control-box .toggle-button,
.pagination .pagination-control .control-box .bullet-button {
    -fx-background-color: white;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-color: #e2e8f0;
    -fx-border-width: 1;
    -fx-min-width: 35px;
    -fx-min-height: 35px;
    -fx-text-fill: #64748b;
    -fx-cursor: hand;
}

.pagination .pagination-control .control-box .number-button:selected,
.pagination .pagination-control .control-box .toggle-button:selected,
.pagination .pagination-control .control-box .bullet-button:selected {
    -fx-background-color: #BEC400 !important;
    -fx-text-fill: white !important;
    -fx-border-color: #64748b !important;
}

.pagination .left-arrow, .pagination .right-arrow {
    -fx-background-color: #BEC400;
}

/* --- CARTES STATISTIQUES --- */
.stat-card {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 10, 0, 0, 3);
}


